#importFrom("graphics", plot)
#importFrom("graphics", points)
#importFrom("methods", show)
importFrom("graphics", "par", "plot", "points", "plot.default", "axis", "polygon", "abline", "segments", "lines", "text", "box", "legend")
importFrom("grDevices", "gray")
importFrom("methods", "new", "show")
importFrom("stats", "uniroot", "dbinom", "qbinom", "pbinom", "qnorm")
importFrom("utils", "str", "write.csv")
import(clinfun)

exportClasses(abparms)
exportClasses(bound)
exportClasses(boundNBF)
export(unirootDiscrete,designOBF,designOBFpower,designAb,
  stopTable,modify,print.stopTable,analyzeBound,analyzeBoundNBF,
    powerBsb,getTSalpha,getAlternative,prStop,EN,
    designSimon, designFixed, designFixedpower )
exportMethods(points)
exportMethods(plot)
exportMethods(analyze)
exportMethods(summary)
S3method(print,stopTable)

